/* line 1, /Users/markholland/Sites/buongiorno/source/stylesheets/application.css.scss */
main {
  margin-top: 40px; }

@-webkit-keyframes product-image-slideshow {
  0% {
    background-position: center, 400px 0, 400px 0, 400px 0; }
  25% {
    background-position: 400px 0, center, 400px 0; }
  50% {
    background-position: 400px 0, 400px 0, center, 400px 0; }
  75% {
    background-position: 400px 0, 400px 0, 400px 0, center; } }
@keyframes product-image-slideshow {
  0% {
    background-position: center, 400px 0, 400px 0, 400px 0; }
  25% {
    background-position: 400px 0, center, 400px 0; }
  50% {
    background-position: 400px 0, 400px 0, center, 400px 0; }
  75% {
    background-position: 400px 0, 400px 0, 400px 0, center; } }
/* line 34, /Users/markholland/Sites/buongiorno/source/stylesheets/application.css.scss */
.product .thumbnail {
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation-name: product-image-slideshow;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: steps(1);
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
  animation: product-image-slideshow 2s steps(1) infinite paused; }
  /* line 47, /Users/markholland/Sites/buongiorno/source/stylesheets/application.css.scss */
  .product .thumbnail:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running; }
