---
  title: Background animation test
---

main
  .container
    .row
      .col-sm-3
        - 2.times do
          p= lorem.paragraph
      .col-sm-9
        .col-xs-6.col-xs-offset-3
          .product style="background-image:#{ italians_as_background_images }"
          
        